<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE web-app 
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app>
    <display-name>QualiPSo Advanced Documentation and Information Services</display-name>
    <description>
    </description>
    
   <!-- Application class name -->
   <context-param>
      <param-name>org.restlet.application</param-name>
      <param-value>
         org.qualipso.a4.informationsource.semanticrepository.SemanticRepositoryREST
      </param-value>
   </context-param>
   
   <!-- Restlet adapter -->
   <servlet>
      <servlet-name>RestletServlet</servlet-name>
      <servlet-class>
         com.noelios.restlet.ext.servlet.ServerServlet
      </servlet-class>
   </servlet>
    
    <servlet>
    		<servlet-name>
    			QualiPSoRetrievalAPI
    		</servlet-name>
    		<servlet-class>
    			org.qualipso.advdoc.ws.client.retrieval.service.GenQualiPSoRetrievalAPISoapController
    		</servlet-class>
    </servlet>
    <servlet>
    		<servlet-name>
    			QualiPSoJSONRetrievalAPI
    		</servlet-name>
    		<servlet-class>
    			org.qualipso.advdoc.ws.client.retrieval.service.GenQualiPSoRetrievalAPIJsonController
    		</servlet-class>
    </servlet>
    <servlet>
    		<servlet-name>
    			QualiPSoFeedAPI
    		</servlet-name>
    		<servlet-class>
    			org.qualipso.advdoc.ws.client.feed.service.GenQualiPSoFeedAPISoapController
    		</servlet-class>
    </servlet>
    <servlet>
    		<servlet-name>
    			QualiPSoJSONFeedAPI
    		</servlet-name>
    		<servlet-class>
    			org.qualipso.advdoc.ws.client.feed.service.GenQualiPSoFeedAPIJsonController
    		</servlet-class>
    </servlet>
    <servlet>
    		<servlet-name>
    			QualiPSoMetadataAPI
    		</servlet-name>
    		<servlet-class>
    			org.qualipso.advdoc.ws.client.metadata.service.GenQualiPSoMetadataAPISoapController
    		</servlet-class>
    </servlet>
    <servlet>
    		<servlet-name>
    			QualiPSoJSONMetadataAPI
    		</servlet-name>
    		<servlet-class>
    			org.qualipso.advdoc.ws.client.metadata.service.GenQualiPSoMetadataAPIJsonController
    		</servlet-class>
    </servlet>
    <servlet>
    		<servlet-name>
    			QualiPSoSearchAPI
    		</servlet-name>
    		<servlet-class>
    			org.qualipso.advdoc.ws.client.search.service.QualiPSoSearchAPISoapController
    		</servlet-class>
    		<load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
    		<servlet-name>
    			QualiPSoJSONSearchAPI
    		</servlet-name>
    		<servlet-class>
    			org.qualipso.advdoc.ws.client.search.service.GenQualiPSoSearchAPIJsonController
    		</servlet-class>
    </servlet>
    <servlet>
    		<servlet-name>
    			QualiPSoStorage
    		</servlet-name>
    		<servlet-class>
    			org.qualipso.advdoc.ws.client.storage.service.GenQualiPSoStorageSoapController
    		</servlet-class>
    </servlet>
    <servlet>
    		<servlet-name>
    			QualiPSoJSONStorage
    		</servlet-name>
    		<servlet-class>
    			org.qualipso.advdoc.ws.client.storage.service.GenQualiPSoStorageJsonController
    		</servlet-class>
    </servlet>

    <servlet>
    		<servlet-name>
    			QualiPSoXF
    		</servlet-name>
    		<servlet-class>
    			org.qualipso.advdoc.ws.client.xf.service.GenQualiPSoXFAPISoapController
    		</servlet-class>
    </servlet>
    <servlet>
    		<servlet-name>
    			QualiPSoJSONXF
    		</servlet-name>
    		<servlet-class>
    			org.qualipso.advdoc.ws.client.xf.service.GenQualiPSoXFAPIJsonController
    		</servlet-class>
    </servlet>


    <servlet-mapping>
    		<servlet-name>
    			QualiPSoRetrievalAPI
    		</servlet-name>
    		<url-pattern>
    			/retrieval/service
    		</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    		<servlet-name>
    			QualiPSoJSONRetrievalAPI
    		</servlet-name>
    		<url-pattern>
    			/retrieval/json
    		</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    		<servlet-name>
    			QualiPSoFeedAPI
    		</servlet-name>
    		<url-pattern>
    			/feed/service
    		</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    		<servlet-name>
    			QualiPSoJSONFeedAPI
    		</servlet-name>
    		<url-pattern>
    			/feed/json
    		</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    		<servlet-name>
    			QualiPSoMetadataAPI
    		</servlet-name>
    		<url-pattern>
    			/metadata/service
    		</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    		<servlet-name>
    			QualiPSoJSONMetadataAPI
    		</servlet-name>
    		<url-pattern>
    			/metadata/json
    		</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    		<servlet-name>
    			QualiPSoSearchAPI
    		</servlet-name>
    		<url-pattern>
    			/search/service
    		</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    		<servlet-name>
    			QualiPSoJSONSearchAPI
    		</servlet-name>
    		<url-pattern>
    			/search/json
    		</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    		<servlet-name>
    			QualiPSoStorage
    		</servlet-name>
    		<url-pattern>
    			/storage/service
    		</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    		<servlet-name>
    			QualiPSoJSONStorage
    		</servlet-name>
    		<url-pattern>
    			/storage/json
    		</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    		<servlet-name>
    			QualiPSoXF
    		</servlet-name>
    		<url-pattern>
    			/xf/service
    		</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    		<servlet-name>
    			QualiPSoJSONXF
    		</servlet-name>
    		<url-pattern>
    			/xf/json
    		</url-pattern>
    </servlet-mapping>
    
    <!-- Servlet REST -->
    

   <!-- Catch all requests -->
   <servlet-mapping>
      <servlet-name>RestletServlet</servlet-name>
      <url-pattern>/SemanticRepository/*</url-pattern>
   </servlet-mapping>
   
</web-app>